


table, td, th {
    border:1px solid red;
    color: blanchedalmond;
}

body {
        background-color: black;
    }

h1, h3, h4, h5 {
        color: blanchedalmond;
    }

p {
        color:blanchedalmond
    }

dl {
        color: blanchedalmond;}

    