h1 {
    color: green 50px;
}




ol{ 
    color: red;
    font-weight: bold;
}


.p1{
    
    border: rgb(140, 218, 228) solid 4px ;
    border-style: dotted;
    opacity: 0.5;
    
    
} 

#cen{
    text-align: center;
}